.event {
	// height: 337px;
	margin: 0 1rem 2rem 0;
	@media (min-width: get-breakpoint(sm)) {
		margin: 0 2.5rem 2rem 0;
		max-width: 283px;
	}
	a {
		display: grid;
		grid-template-rows: 141px 4rem 2.5rem;
		grid-template-columns: 100%;
		font-weight: 900;
		color: get-color(grey-dark);
		text-decoration: none;
		padding: 2.3rem 1.2rem;
		background-color: get-color('salmon');

		.event__title {
			height: 5.8rem;
			font-size: get-font-size(h4);
			line-height: 1.2;
			// padding: 0 1.2rem;
			margin-top: 2.3rem;
		}
		.event__date time {
			font-size: get-font-size(h4);
			line-height: 1;
			font-weight: 300;
			// padding: 0 1.2rem;
		}
		.event__time {
			// font-size: 1.125rem;
			// padding: 0 1.2rem;
		}
		.event__location {
			font-weight: 400;
			// padding: 0 1.2rem;
		}
	}
	&.event_tag-campaigns-and-trainings {
		a {
			background-color: get-color('salmon');
		}
	}
	&.event_tag-learn-about-debt {
		
		a {
			background-color: get-color(jade-dark);
			color: $white;
		}
	}
	&.event_tag-welcome-calls {
		height: 208px;
		&:nth-child(2) {
			a {
				background-color: get-color(lilac);
			}
		}
		a {
			grid-template-rows: auto;
			background-color: get-color(grey-light);
			.event__date {
				padding: 2rem 1.2rem 1rem;
				time {
					padding: 0;
					font-size: get-font-size(h3);
					line-height: 0.86;
					font-weight: 900;
				}
			}
			.event__time {
				font-size: 1.125rem;
			}
			.event__location {
				font-weight: 700;
			}
		}
	}
}
