.faq, .wp-block-site-functionality-faq {
  border-radius: $border-radius-lg;
  white-space: normal;
  background-color: get-color(jade);
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.7);
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier();
  padding: 2rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  color: white;
  cursor: pointer;

  @media (min-width: get-breakpoint(md)) {
    padding: 1.5rem   2.375rem;
    padding-bottom: 0;
  }


  .question {

    position: relative;

    h3 {
      max-width: 24rem;
      font-size: get-font-size(h4);
      margin-top: 2rem;
      @media (min-width: get-breakpoint(sm)) {
        font-size: get-font-size(h4);
        max-width: 36rem;
      }
      @media (min-width: get-breakpoint(md)) {
        max-width: 54rem;
      }
      a {
        text-decoration: none;
      }
    }

    .chevron {
      position: absolute;
      width: 3rem;
      right: -2rem;
      top: 0;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier();
      transform: translateX(-25%);

      @media (min-width: get-breakpoint(md)) {
        right: 0;
      }
    }
  }

  .answer {

    padding-top: 1rem;
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition-property: max-height, height;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    padding-bottom: 3.375rem;

    @media (min-width: get-breakpoint(md)) {
      max-width: 54rem;
    }

    .answer-wrapper {
      position: relative;
      top: 3rem;
      opacity: 0;
      transition-property: opacity, top;
      transition-duration: 0.5s;
      transition-delay: 0.125s;
      transition-timing-function: ease-out;
    }

    a {
      color: white;
      text-decoration: underline;
    }
  }

  &.active {
    background-color: get-color('jade-darker');
    .chevron {
      transform: translateX(-25%) rotate(90deg);
    }
    .answer {
      transition-property: max-height, height;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
      max-height: 300vh;
      height: 100%;
      .answer-wrapper {
        opacity: 1;
        top: 0;
      }
    }
  }
}
