.impactful-callout {
	background-color: get-color(emphasis);
	padding: 0.5rem 0.5rem 1rem;
	margin: 0 0.25rem;
	@media (min-width: get-breakpoint(xs)) and (max-width: get-breakpoint(sm)) {
		padding: 0.75rem 1.25rem;
		margin: 0 0.75rem;
	}
	@media (min-width: get-breakpoint(sm)) {
		padding: 1.25rem 2.25rem;
		margin: 0 1.5rem;
		max-width: 54rem;
	}
	h3, h2, h3 p {
		font-style: italic;
		line-height: 1.15;
		margin: 0;
	}
	h3 {
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		font-size: get-font-size(h5);
		@media (min-width: get-breakpoint(xs)) {
			font-size: get-font-size(h4);
		}
	}
	h2 {
		color: get-color(canary);
		font-weight: 900;
		font-size: get-font-size(h4);
		@media (min-width: get-breakpoint(xs)) {
			font-size: get-font-size(h3);
		}
	}
}
