.sidebar {
	.sidebar-social {
		/** Moved to ./src/scss/components/organisms/_sidebar.scss */
		// h3 {
		// 	color: $black;
		// 	font-size: get-font-size(h5);
		// 	line-height: 1.5;
		// 	border-bottom: solid 2px $black;
		// 	padding-bottom: 0.5rem;
		// 	margin: 2.5rem 0 1.5rem;
		// }
		ul {
			margin-left: 1rem;
			list-style: none;

			li {
				margin: 0;
				a {
					text-decoration: none;
					&:hover,
					&:focus {
						text-decoration: underline;
					}
					span {
						color: get-color(grey-dark);
						height: get-font-size(h3);
						width: get-font-size(h3);

						&::before {
							color: get-color(grey-dark);
							font-size: get-font-size(h3);
						}
					}
				}
			}
		}
	}
}