ul.is-style-inline-bullet-list {
	margin: 0;
	padding: 1rem;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	li {
		@media (min-width: get-breakpoint(sm)) {
			width: 290px;
			margin-right: 1.75rem;
		}
		margin-bottom: 1.5rem;
		display: flex;
		column-gap: 0.5rem;
		&::before {
			content: "";
			background: center/contain no-repeat url(../images/icons/rectangle-jade.svg);
			width: 2.4rem;
			height: 1.65rem;
		}
		span.has-jade-color {
			color: get-color(jade);
		}
	}
}
