aside.sidebar .widget .sidebar-social {
	h3 {
		color: #000;
		font-size: get-font-size(h4);
		border-bottom: solid 2px get-color(grey-dark);
		padding-bottom: 0.5rem;
		margin-top: 2.75rem;
	}
	ul {
		margin-left: 1rem;
		li {
			margin: 0;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
				span {
					color: get-color(grey-dark);
				}
			}
		}
	}
}
