.page-flick-of-a-pen {
  .entry-title {
    display: none;
  }
  .entry-content {

    h2 {
      @media (max-width: get-breakpoint(sm)) {
        font-size: get-font-size(h3);        
      }
    }
    p {
      font-size: 19px;
    }
    .wp-block-button {
      .big {
        a {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
