.page-courses {
	.series-label {
		font-size: get-font-size('h4');
		padding: 1rem 1.5rem;
		margin: 1rem 0;
		border: solid 2px $black;
		border-left: none;
		border-right: none;
		@media (min-width: get-breakpoint(xs)) {
			font-size: get-font-size('h3');
			text-align: center;
			padding: 1rem;
			margin: 2rem 1.5rem;
		}
	}
	.events__list {
		@media (min-width: get-breakpoint(xs)) {
			grid-template-columns: 1fr;
		}
		@media (min-width: get-breakpoint(lg)) {
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
		}
		.event.future {
			border-radius: 0.75rem;
			height: min-content;
			a {
				padding: 1rem 1.25rem;
				background: get-color('azure');
				background: $azure-gradient;
				border-radius: 0.75rem;
				position: relative;
				&::after {
					display: none;
				}
				&:hover, &:focus {
					opacity: 0.85;
					transition: all 0.33s ease-in-out;
				}

				* {
					color: get-color('grey-darker');
				}
				@media (min-width: get-breakpoint(xs)) {
					display: grid;
					grid-template-columns: repeat(6, 16.667%);
					row-gap: 0.5rem;
				}

				.event {
					&__title {
						font-style: italic;
						position: relative;
						font-size: 1.25rem;
						height: min-content;
						&::before, &::after {
							content: "";
							position: absolute;
							width: 66.67%;
							height: 66.67%;
							border-radius: 0.5rem;
							border-bottom-left-radius: 0;
							border-top-right-radius: 0;
						}
						&::before {
							border-top: solid 4px get-color(red-dark);
							border-left: solid 4px get-color(red-dark);
							top: calc(-1rem - 1px);
							left: calc(-1.25rem - 1px);
						}
						&::after {
							border-right: solid 4px get-color('violet-dark');
							border-bottom: solid 4px get-color('violet-dark');
							bottom: calc(-1rem - 1px);
							right: calc(-1.25rem - 1px);
						}
					}
					&__date {
						margin-top: 2rem;
						time {
							font-size: 1.25rem;
							font-weight: 800;
							letter-spacing: -1px;
						}
					}
					&__time {
						margin: 0.25rem 0;
					}
					&__location {
						margin-bottom: 0.25rem;
					}
					&__content {
						margin-top: 1rem;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 5;
						overflow: hidden;
						p {
							font-size: 1rem;
							margin: 0.5rem 0;
							display: inline;
							&:empty {
								display: none;
							}
							&:not(:empty)::after {
								content: " \A\A";
								white-space: pre;
							}
						}
					}
					// &__image {
					// 	display: block;
					// }
					@media (min-width: get-breakpoint(xs)) {
						&__title {
							grid-column: 1 / 6;
							grid-row: 1;
							font-size: 2rem;
							padding: 1rem;
							&::before, &::after {
								margin: 1rem;
							}
						}
						&__location {
							grid-column: 6 / end;
							grid-row: 1;
							text-align: right;
						}
						&__date {
							grid-column: 1 / 4;
							margin-top: 0;
							time {
								font-size: 2rem;
							}
						}
						&__time {
							grid-column: 4 / end;
							text-align: right;
						}
						&__content {
							grid-column: 1 / end;
						}
					}
					@media (min-width: get-breakpoint(sm)) {
						&__title {
							grid-column: 1 / 5;
							grid-row: 1 / 4;
							margin: 0;
						}
						&__date, &__time, &__location {
							padding-left: 1rem;
						}
						&__date {
							grid-column: 5 / end;
							text-align: right;
							grid-row: 2;
						}
						&__time {
							grid-column: 5 / end;
							grid-row: 3;
							font-size: 1.25rem;
						}
						&__content {
							grid-row: 4;
							margin: 1rem 1rem 0;
							-webkit-line-clamp: 8;
							p {
								font-size: get-font-size('lede');
							}
						}
					}
				}
			}
		}
	}
	.events-by-series {
		&:nth-child(even) .event:nth-child(even),
		&:nth-child(odd) .event:nth-child(odd) {
			a {
				background: get-color(aquamarine-light);
				background: $aquamarine-gradient;
				.event__title {
					&::before {
						border-color: get-color('violet-dark');
					}
					&::after {
						border-color: get-color('red-dark');
					}
				}
			}
		}
	}
}
