$sidebar-width: 300px;


.admin-bar {
	#wpadminbar {
		position: fixed;
	}
}

.site-header {
	margin: 6rem 1.25rem 0;
	@media (min-width: get-breakpoint(sm)) {
		margin: 6rem 2.25rem 0;
	}
	@media (min-width: get-breakpoint(md)) {
		margin: 6rem 4.25rem 0;
	}
}

.entry-header .entry-title {
	font-size: get-font-size(h2);
	line-height: 1.15;
}

.page-header h1 {
	font-size: get-font-size(h2);
	line-height: 1.15;
}

.site-branding img {
	max-width: 100vw;
	object-fit: contain;
}

.site-main {

	max-width: get-breakpoint(lg);
  margin: 0 auto;
	box-sizing: border-box;

	.content-container {
		box-sizing: border-box;
		max-width: get-breakpoint(lg);
		padding-left: 2rem;

		@media (min-width: get-breakpoint(sm)) {
			padding-right: 2rem;
			padding-left: 1.75rem;
		}

		@media (min-width: get-breakpoint(lg)) {
			padding-right: 6rem;
		}
	}

	.page-template-fullwidth & {
			padding-left: 3.5rem;
			padding-right: 3.5rem;
	}

	.has-sidebar & {

		.sidebar {
			padding: 1rem;
			box-sizing: border-box;
			h3 {
				color: $black;
				font-size: get-font-size(h5);
				line-height: 1.5;
				border-bottom: solid 2px $black;
				padding-bottom: 0.5rem;
				margin: 2.5rem 0 1.5rem;
			}
		}

		@media (min-width: get-breakpoint(md)) {
			display: flex;
			.content-container {
				flex-grow: 1;
				max-width: calc( #{get-breakpoint(lg)} - #{$sidebar-width});
			}
			.sidebar {
				padding: 1rem 1rem 0;
				min-width: $sidebar-width;
			}
		}
	}
}

.grid-three {
	@include grid-three;
}

.four-points {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  @media (min-width: get-breakpoint(sm)) {
    grid-template-columns: 1fr 1fr;
  }
}
