:root {
	--wp--preset--color--emphasis: get-color('emphasis');
	--wp--preset--color--jade: get-color('jade');
	--wp--preset--color--salmon: get-color('salmon');
	--wp--preset--color--text: get-color('text');
	--wp--preset--color--title: get-color('title');
	--wp--preset--color--red: get-color('red');
	--wp--preset--color--blue: get-color('aquamarine');
	--wp--preset--color--orange: var(--wp--preset--color--emphasis);
	--wp--preset--color--green: var(--wp--preset--color--jade);
	--wp--preset--color--grey-light: var(--wp--preset--color--grey-light);
	--wp--preset--color--black: var(--wp--preset--color--black);
	--wp--preset--color--white: var(--wp--preset--color--white);
	--woocommerce: var(--wp--preset--color--emphasis);
	--wc-green: var(--wp--preset--color--green);
	--wc-red: var(--wp--preset--color--red);
	--wc-orange: var(--wp--preset--color--orange);
	--wc-blue: var(--wp--preset--color--aquamarine);
	--wc-primary: var(--wp--preset--color--emphasis);
	--wc-primary-text: var(--wp--preset--color--title);
	--wc-secondary: var(--wp--preset--color--jade);
	--wc-secondary-text: var(--wp--preset--color--text);
	--wc-highlight: get-color('canary');
	--wc-highligh-text: get-color('white');
	--wc-content-bg: get-color('white');
	--wc-subtext: var(--wp--preset--color--text);
	--yith-wcan-anchors_style_text_active: var(--wp--preset--color--emphasis);
	--yith-wcan-anchors_style_text_hover: var(--wp--preset--color--emphasis);
}

.woocommerce,
.woocommerce-page {
	.products {
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		&::before,
		&::after {
			display: none !important;
		}

		&[class*="columns-"] {

			display: grid;
			grid-template-columns: 1fr;
			gap: 2.5rem;

			@media (min-width: get-breakpoint(xs)) {
				grid-template-columns: repeat(2, 1fr);
				column-gap: 1.5rem;
			}

			/* Default */
			@media (min-width: get-breakpoint(md)) {
				grid-template-columns: repeat(3, 1fr);
			}

			.product {
				width: 100% !important;
				float: none !important;
				clear: none !important;
				margin: 0 !important;
			}

		}

		&.columns-2 {
			@media (min-width: get-breakpoint(xs)) {
				grid-template-columns: repeat(2, 1fr);
				column-gap: 1.5rem;
			}

			@media (min-width: get-breakpoint(lg)) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&.columns-4 {
			@media (min-width: get-breakpoint(lg)) {
				grid-template-columns: repeat(4, 1fr);
			}
		}

		&.columns-5 {
			@media (min-width: get-breakpoint(lg)) {
				grid-template-columns: repeat(5, 1fr);
			}
		}

		.woocommerce-product-details {
			&__short-description {
				ul {
					list-style: none;
					padding-left: 0;
					margin-left: 0;
				}
			}
		}

		.product {
			text-align: center;
		}

	}

	.product {
		.price {
			color: var(--wp--preset--color--title);
			font-family: get-font('base');
			font-weight: bold;
			font-size: 2rem;
		}

		img[class^="attachment-woocommerce"],
		.zoomImg {
			border: 1px solid var(--wp--preset--color--grey-light);
		}
	}

	.site-main {

		.button,
		.wp-element-button,
		ul.products li.product .button {
			background-color: var(--wp--preset--color--emphasis);
			color: var(--wp--preset--color--white);
			border-radius: 8px;

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--black);
				color: var(--wp--preset--color--white);
			}
		}
	}

}


/* Brute Force Overrides */
.woocommerce {
	.price {
		color: var(--wp--preset--color--grey-darker);
	}

	ul.products {
		li.product {
			.price {
				color: var(--wp--preset--color--grey-darker);
			}
		}
	}

	div.product {
		p.price {
			color: var(--wp--preset--color--grey-darker);
		}
	}

	&-tabs {
		h2 {
			font-size: get-font-size(h3);
			line-height: 1.15;
		}
	}

	.button {
		background-color: var(--wp--preset--color--emphasis);
		color: var(--wp--preset--color--white);

		&:focus,
		&:hover {
			background-color: var(--wp--preset--color--black);
			color: var(--wp--preset--color--white);
		}

		&:disabled,
		&:disabled[disabled] {
			background-color: var(--wp--preset--color--salmon);
			color: var(--wp--preset--color--white);

			&:hover {
				background-color: var(--wp--preset--color--salmon);
				color: var(--wp--preset--color--white);
			}
				}
	}

	.coupon {
		input {
			min-width: 12rem;
			line-height: 20px !important;
			padding: .5rem 1rem !important;
			height: initial;
		}
	}

	&:where(body:not(.woocommerce-block-theme-has-button-styles)) {
		#respond {
			input#submit.alt {
				background-color: var(--wp--preset--color--emphasis);
				color: var(--wp--preset--color--white);

				&:focus,
				&:hover {
					background-color: var(--wp--preset--color--black);
					color: var(--wp--preset--color--white);
				}

				&:disabled,
				&:disabled[disabled] {
					background-color: var(--wp--preset--color--salmon);
					color: var(--wp--preset--color--white);

					&:hover {
						background-color: var(--wp--preset--color--salmon);
						color: var(--wp--preset--color--white);
					}
				}
			}

			input#submit.alt.disabled {
				background-color: var(--wp--preset--color--salmon);
				color: var(--wp--preset--color--white);

				&:hover {
					background-color: var(--wp--preset--color--salmon);
					color: var(--wp--preset--color--white);
				}
			}
		}

		a.button.alt,
		button.button.alt,
		input.button.alt {
			background-color: var(--wp--preset--color--emphasis);
			color: var(--wp--preset--color--white);

			&:focus,
			&:hover {
				background-color: var(--wp--preset--color--black);
				color: var(--wp--preset--color--white);
			}

			&:disabled,
			&:disabled[disabled] {
				background-color: var(--wp--preset--color--salmon);
				color: var(--wp--preset--color--white);

				&:hover {
					background-color: var(--wp--preset--color--salmon);
					color: var(--wp--preset--color--white);
				}
			}

		}


		a.button.alt.disabled,
		button.button.alt.disabled,
		input.button.alt.disabled {
			background-color: var(--wp--preset--color--salmon);
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--salmon);
				color: var(--wp--preset--color--white);
			}
		}


	}
}

:where(body:not(.woocommerce-block-theme-has-button-styles)) {
	.woocommerce {
		a.button.alt {
			background-color: var(--wp--preset--color--emphasis);
			color: var(--wp--preset--color--white);

			&:focus,
			&:hover {
				background-color: var(--wp--preset--color--black);
				color: var(--wp--preset--color--white);
			}
		}

		button.button {
			background-color: var(--wp--preset--color--emphasis);
			color: var(--wp--preset--color--white);

			&:focus,
			&:hover {
				background-color: var(--wp--preset--color--black);
				color: var(--wp--preset--color--white);
			}

			&:disabled,
			&:disabled[disabled] {
				background-color: var(--wp--preset--color--salmon);
				color: var(--wp--preset--color--white);

				&:hover {
					background-color: var(--wp--preset--color--salmon);
					color: var(--wp--preset--color--white);
				}
			}

		}
	}
}

.single-product {
	.single_add_to_cart_button,
	.quantity input[type="number"] {
		line-height: 20px !important;
		padding: .5rem 1rem !important;
	}

	.quantity {
		input[type="number"] {
			width: auto;
		}
	}

	.products {
		&.columns-2 {
			@media (min-width: get-breakpoint(xs)) {
				grid-template-columns: repeat(2, 1fr);
				column-gap: 1.5rem;
			}

			@media (min-width: get-breakpoint(md)) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&.columns-4 {
			@media (min-width: get-breakpoint(sm)) {
				grid-template-columns: repeat(3, 1fr);
			}

			@media (min-width: get-breakpoint(md)) {
				grid-template-columns: repeat(4, 1fr);
			}
		}

		&.columns-5 {
			@media (min-width: get-breakpoint(lg)) {
				grid-template-columns: repeat(5, 1fr);
			}
		}

	}
}

/* Product Blocks */
.wc-block-grid,
.products-block-post-template,
.wc-block-product-template {

	&__products,
	&.is-flex-container,
	&.is-layout-grid {
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		display: grid;
		grid-template-columns: 1fr;
		gap: 2.5rem;

		@media (min-width: get-breakpoint(xs)) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 1.5rem;
		}

		/* Default */
		@media (min-width: get-breakpoint(lg)) {
			grid-template-columns: repeat(3, 1fr);
		}

		&__product {
			max-width: initial !important;
		}
	}

	&[class*="-columns"] {

		.wc-block-grid__product,
		>li {
			max-width: initial;
			width: auto !important;
		}
	}

	&.has-2-columns,
	&.columns-2 {
		@media (min-width: get-breakpoint(xs)) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 1.5rem;
		}

		@media (min-width: get-breakpoint(lg)) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&.has-4-columns,
	&.columns-4 {
		@media (min-width: get-breakpoint(lg)) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&.has-5-columns,
	&.columns-5 {
		@media (min-width: get-breakpoint(lg)) {
			grid-template-columns: repeat(5, 1fr);
		}
	}

	&__product,
	.product {
		text-align: center;
	}

	.wc-block-grid__product-link,
	.wp-block-post-title a {
		text-decoration: none !important;
		color: get-color('black');

		&:hover,
		&:focus {
			.wc-block-grid__product-title {
				text-decoration: underline;
				text-decoration-color: var(--wp--preset--color--black);
			}
		}
	}

	.wc-block-grid__product-title,
	.wp-block-post-title {
		font-size: 1rem;
		font-weight: 900;
	}

	.wc-block-grid__product-price,
	.wp-block-woocommerce-product-price {
		font-weight: bold;
	}

	.wp-block-button a,
	.wp-block-button__link {
		display: inline-block;
		font-size: 1rem;
		line-height: inherit;
		padding: .5rem 1rem;
	}

	img[class^="attachment-woocommerce"] {
		border: 1px solid var(--wp--preset--color--grey-light);
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

}

.wp-block-button {
	.add_to_cart_button {
		background-color: var(--wp--preset--color--emphasis);

		&:hover,
		&:focus {
			background-color: var(--wp--preset--color--black);
		}
	}
}

.products {
	.cfvsw {
		&-swatches {
			&-container {
				width: 100%;
				justify-content: center;
			}

			&-option {
				min-height: 1.75rem;
				min-width: 1.75rem;
			}

			&-swatch {}
		}

		&-label {
			&-option {
				color: var(--wp--preset--color--black);
				font-size: get-font-size('md-small');
			}
		}
	}
}

/* Swatches */
.cfvsw {
	&-swatches {
		&-container {
			// &[swatches-attr="attribute_pa_color"] {}
			// &[swatches-attr="attribute_pa_size"] {}
			// &[swatches-attr="attribute_pa_material"] {}
		}



		&-option {
			color: var(--wp--preset--color--black);
		}

		&-swatch {
			font-weight: bold;
		}
	}

	&-label {
		&-option {
			color: var(--wp--preset--color--black);
			font-size: get-font-size('button--small');
		}
	}
}

/* Product Filters */
.yith-wcan-reset-filters {
	border: none;
	background-color: transparent;
	text-decoration: underline
}