.sidebar {
	padding: 1rem;
	background-color: $white;
	/** Widget Title */
	h3 {
		color: $black;
		font-size: get-font-size(h5);
		line-height: 1.5;
		border-bottom: solid 2px $black;
		padding-bottom: 0.5rem;
		margin: 2.5rem 0 1.5rem;
	}

	@media (min-width: get-breakpoint(sm)) {
		padding: 1rem 2.875rem;
	}
	@media (min-width: get-breakpoint(md)) {
		padding: 1rem 1rem 0;
		position: absolute;
		right: 0;
		top: 8.3rem;
		z-index: 1;
		width: 315px;
	}
}
