div.fbc-page {
	margin-left: 1.2rem;
	@media (min-width: get-breakpoint(sm)) {
		margin-left: 4.75rem;
	}
	div.fbc-wrap ol.fbc-items {
		padding-left: 0;
		li {
			font-weight: 300;
			line-height: 1.25;
			&:first-child {
				padding-left: 0;
			}
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					text-decoration-color: #000;
				}
				i {
					color: #000;
					margin: 0;
					&:hover {
						text-decoration: underline;
					}
				}
				span {
					color: #000
				}
			}
			span.fbc-separator {
				color: #000
			}
		}
		li.active span {
			color: #000;
		}
	}
}
