footer.site-footer {
	background-color: #434343;
	color: #ffff;
	position: absolute;
	width: 100vw;
	aside:nth-child(1) div.wp-block-group {
		padding: 1rem 0;
		@media (min-width: get-breakpoint(sm)) {
			display: flex;
			justify-content: space-between;
		}
		ul.wp-block-social-links {
			margin: 0;
			li.wp-social-link {
				height: 2.25rem;
			}
		}
	}
	aside {
		padding: 0 1rem;
		@media (min-width: get-breakpoint(sm)) {
			padding: 0 2.875rem;
		}
		h2 {
			margin: 0;
			padding-bottom: 1rem;
			font-size: get-font-size(h4);
			line-height: 1.15;
		}
		p {
			margin: 0;
			font-weight: 200;
			// font-size: get-font-size(h5);
		}
		@media (min-width: get-breakpoint(xs)) {
			// &:nth-child(1) {
			// }
			h2 {
				width: auto;
				font-size: get-font-size(h3);
			}
			p {
				font-size: get-font-size(h4);
			}
		}
	}
	aside.widget_yikes_easy_mc_widget {
		// padding: 1rem;
		form.yikes-easy-mc-form {
			margin: 1rem 0;
			label {
				line-height: 1.2;
				span {
					font-weight: 500;
				}
				// &:nth-child(1) {
				// 	margin-left: 0;
				// }
				&:nth-child(5) {
					display: none;
				}
			}
			button {
				margin: 0 !important;
			}
			@media (min-width: get-breakpoint(sm)) {
				// padding: 1rem 2.875rem;
				display: flex;
				justify-content: space-between;
				label {
					margin: 0 0.5rem;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					&:nth-child(1) {
						margin-left: 0;
					}
				}
				button {
					margin: 0.5rem !important
				}
			}
		}
	}
	ul#footer-menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 1rem 5rem;
		padding: 1rem 0;
		border-top: solid #ffff 1px;
		@media (min-width: get-breakpoint(sm)) {
			flex-direction: row;
			margin: 0 2.875rem 5rem;
		}
		> li {
			list-style: none;
			margin-right: 0.5rem;
			@media (min-width: get-breakpoint(sm)) {
				width: 20%;
			}
			> a {
				font-size: 1.25rem;
				line-height: 2.67;
				font-weight: 900;
				color: #ffff;
				text-decoration: none;
			}
			ul.sub-menu {
				list-style: none;
				padding-left: 0.5rem;
				@media (min-width: get-breakpoint(sm)) {
					padding-left: 0;
				}
				a {
					color: #ffff;
					text-decoration: none;
					line-height: 2.5;
				}
			}
		}
	}
}
