article.purchase-agreement {
	height: min-content;
	color: #000;
	background-color: get-color(canary-light);
	padding: 1.125rem;
	margin: 1rem;
	width: 100%;
	@media (min-width: get-breakpoint(sm)){
		width: 290px;
	}
	div.purchase-agreement__date {
		font-size: get-font-size(h4);
		line-height: 1;
		font-weight: 300;
		margin-bottom: 0.5rem;
	}
	h3.purchase-agreement__title {
		font-size: get-font-size(h5);
		margin: 1rem 0 0.5rem;
	}
	.purchase-agreement__summary p {
		margin: 0;
	}
	div.purchase-agreement__details dl {
		width: 250px;
		margin-top: 0.5rem;
		.purchase-agreement__amount {
			font-weight: 900;
			line-height: 1.2;
			color: get-color(emphasis);
			width: 100%;
		}
		.purchase-agreement__amount.entry-value {
			font-size: get-font-size(h4);
			// margin-left: 0.25rem;
		}
		.purchase-agreement__amount.entry-label {
			margin-bottom: 0.5rem;
		}
		dt {
			display: inline-block;
			clear: left;
		}
		dd {
			display: inline-block;
			margin-left: 0;
			font-weight: 700;
		}
		a {
			color: get-color(jade-darker);
		}
	}
}
