aside.sidebar {
	padding: 1rem;
	background-color: #fff;
	@media (min-width: get-breakpoint(sm)) {
		padding: 1rem 2.875rem;
	}
	@media (min-width: get-breakpoint(md)) {
		padding: 1rem;
		position: fixed;
		right: 0;
		top: 8.3rem;
		z-index: 1;
		width: 315px;
	}
}
