@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-decoration: none;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/*
Golden ratio typescale
https://type-scale.com/?size=16&scale=1.618&text=A%20Visual%20Type%20Scale&font=Libre%20Franklin&fontweight=900&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false
*/
$font-sizes: (
  "body": 1.125rem,
  "h1": 6.854rem,
  "h2": 4.236rem,
  "h3": 2.618rem,
  "h4": 1.618rem,
  "h5": 1rem,
  "h6": 0.618rem,
  "page_title": 6.854rem,
  "small": 0.618rem,
  "lede": 1.618rem,
  "button--large": 2.618rem,
  "button--md": 1.618rem,
  "button--small": 1rem,
  "card__title": 1rem
);

$fonts: (
  "base": "Libre Franklin",
  "more": "More Gothic"
);


@function getFontSize($key) {
  @return map-get($font-sizes, $key);
}

@function getFont($key) {
  @return map-get($fonts, $key);
}


html {
  font-size: 100%;
  height: 100%;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: getFont('base');
  font-weight: 400;
  color: getColor(text);
  min-height: 100%;
  word-wrap: break-word;
  font-style: normal;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 900;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: getFontSize('h1');
}

h2 {
  font-size: getFontSize('h2')
}

h3 {
  font-size: getFontSize('h3')
}

h4 {
  font-size: getFontSize('h4')
}

h5 {
  font-size: getFontSize('h5')
}

small,
.text_small {
  font-size: getFontSize('h6')
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5em;
  line-height: 0.875;
}

strong {
  font-weight: 900;
}
