$white: #fff;
$c__gray--light: #EBE7DC;
$c__gray--mid: #777777;
$c__gray--dark: #434343;
$c__gray--darker: #343434;
$black: #000;

$c__orange: #FF4630;

$c__jade: #20A78C;
$c__jade--dark: #1E9981;
$c__jade--darker: #146656;

$c__canary: #FFED9C;
$c__canary-light: #FFF4C3;


$c__mint: #D6FFB8;
$c__salmon: #FFA494;
$c__lilac: #D2C4F5;

$c__black--80: rgba(black, 0.8);
$c__black--50: rgba(black, 0.5);

$c__green--1: rgba(91, 203, 181, 0.1);

// Usage  `map.get($colors, "emphasis");``
$colors: (
  "emphasis": $c__orange,
  "orange": $c__orange,
  "jade": $c__jade,
  "jade-dark": $c__jade--dark,
  "jade-darker": $c__jade--darker,
  "canary": $c__canary,
	"canary-light": $c__canary-light,
  "mint": $c__mint,
  "salmon": $c__salmon,
  "lilac": $c__lilac,
  "text": $c__gray--dark,
  "title": $c__gray--darker,
  "border": $c__gray--light,
  "grey": $c__gray--mid,
  "grey-light":  $c__gray--light,
  "grey-dark": $c__gray--dark,
	"grey-darker": $c__gray--darker,
	"green-1": $c__green--1
);

@function get-color($key) {
  @return map-get($colors, $key);
}

@mixin color-utility($attribute: 'color') {
  @each $name, $hex in $colors {
    &-#{$name}-#{$attribute} {
      #{$attribute}: $hex;
    }
  }
}

.has {
	@include color-utility();
	@include color-utility('background-color');
}
