$white: #fff;
$c__gray--light: #EBE7DC;
$c__gray--mid: #777;
$c__gray--dark: #434343;
$c__gray--darker: #343434;
$black: #000;

$c__orange: #FF4630;
$c__red: #EB1700;
$c__red-dark: #CC1400;

$c__jade: #20A78C;
$c__jade--light: #24BA9D;
$c__jade--dark: #1E9981;
$c__jade--darker: #146656;
$c__jade--lightened: #D6FFF7;
$c__jade--form-bg: #f1f9f7;

$c__canary: #FFED9C;
$c__canary-light: #FFF4C3;
$c__canary-light-50: #FFF4C380;

$c__mint: #D6FFB8;
$c__salmon: #FFA494;
$c__lilac: #D2C4F5;

$c__black--80: rgba($black, 0.8);
$c__black--50: rgba($black, 0.5);

$c__green--1: rgba(91, 203, 181, 0.1);

$c__violet: #995D81;
$c__violet-dark: #613E65;

$c__azure-dark: #70D6FF;
$c__azure-med: #98E6FE;
$c__azure-light: #BFF5FD;

$azure-gradient: linear-gradient(
	135deg,
	$c__azure-light 0%,
	$c__azure-med 90%,
	$c__azure-dark 100%
);

$c__aquamarine: #8BF9B7;
$c__aquamarine-med: #AAFAC8;
$c__aquamarine-light: #C2FCD8;

$aquamarine-gradient: linear-gradient(
	45deg,
	$c__aquamarine 0%,
	$c__aquamarine-med 10%,
	$c__aquamarine-light 100%,
);

// Usage  `map.get($colors, "emphasis");``
$colors: (
  "emphasis": $c__orange,
  "orange": $c__orange,
  "jade": $c__jade,
	"jade-light": $c__jade--light,
  "jade-dark": $c__jade--dark,
  "jade-darker": $c__jade--darker,
	"jade-lightened": $c__jade--lightened,
  "canary": $c__canary,
	"canary-light": $c__canary-light,
	"canary-light-50%": $c__canary-light-50,
  "mint": $c__mint,
  "salmon": $c__salmon,
  "lilac": $c__lilac,
  "text": $c__gray--dark,
  "title": $c__gray--darker,
  "border": $c__gray--light,
  "grey": $c__gray--mid,
  "grey-light":  $c__gray--light,
  "grey-dark": $c__gray--dark,
	"grey-darker": $c__gray--darker,
	"green-1": $c__green--1,
  "lightest": $white,
  "darkest": $c__gray--darker,
  "formbg": $c__jade--form-bg,
	"red":$c__red,
	"red-dark": $c__red-dark,
	"azure-dark": $c__azure-dark,
	"azure": $c__azure-light,
	"aquamarine": $c__aquamarine,
	"aquamarine-light": $c__aquamarine-light,
	"violet": $c__violet,
	"violet-dark": $c__violet-dark
);

@function get-color($key) {
  @return map-get($colors, $key);
}

@mixin color-utility($attribute: 'color') {
  @each $name, $hex in $colors {
    &-#{$name}-#{$attribute} {
      #{$attribute}: $hex;
    }
  }
}

.has {
	@include color-utility();
	@include color-utility('background-color');
}
