body.page-debt-abolition {
	.entry-content {
		h2 {
			font-size: get-font-size(h3);
			line-height: 1.15;
		}
	}
	.wp-block-site-functionality-purchase-agreements {
		display: flex;
		flex-wrap: wrap;
	}
}
