header.entry-header {
	font-weight: 900;
	margin: 1rem;
	@media (min-width: get-breakpoint(sm)) {
		margin: 1rem 4.5rem 0;
	}
	h1.entry-title {
		font-size: get-font-size(h2);
	}
}

div.events-by-tag {
	.events__list {
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
		@media (min-width: get-breakpoint(sm)) {
			margin-left: 4.5rem;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}
