.page-events {
	.entry-header {
		margin: 1rem;
		@media (min-width: get-breakpoint(sm)) {
			margin: 1rem 4.5rem 0;
		}
		.entry-title {
			font-size: get-font-size(h2);
		}
	}

	.taxonomy-description {
		margin: 1.5rem 1rem;
		@media (min-width: get-breakpoint(sm)) {
			margin-left: 4.5rem;
			max-width: 64rem;
		}
	}

	.events__list {
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
		@media (min-width: get-breakpoint(sm)) {
			margin-left: 4.5rem;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}
