header.site-header {
	margin-top: 3.3rem;
}

div.site-branding img {
	max-width: 100vw;
	object-fit: contain;
}

div.entry-content {
	padding: 0 1rem;
	@media (min-width: get-breakpoint(md)) {
		max-width: calc(100vw - 372px);
	}
}
