header.entry-header {
	font-weight: 900;
	margin: 1rem 4.5rem 0;
	h1.entry-title {
		font-size: get-font-size(h2);
	}
}

div.events-by-tag {
	h2.taxonomy-label {
		background-color: get-color(emphasis);
		color: #ffff;
		font-size: 1.125rem;
		font-weight: 900;
		line-height: 1.25;
		padding: 0.75rem 1rem 1.25rem 3rem;
		margin-left: 1.5rem;
		@media (min-width: get-breakpoint(sm)) {
			max-width: 20rem;
		}
	}
	p.taxonomy-description {
		margin-left: 4rem;
		font-size: 1.618rem;
		font-weight: 300;
		line-height: 1.25;
	}
	.events__list {
		display: flex;
		flex-direction: column;
		@media (min-width: get-breakpoint(xs)) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}
