.btn,
.wp-block-button {
	a,
	&__link {
		background-color: get-color(emphasis);
		color: $white;
		font-size: 1rem;
		line-height: 1.2;
		font-weight: 900;
		display: flex;
		align-items: center;
		text-align: center;
		border: transparent solid 1px;
		border-radius: 8px;
		padding: 0.6rem 1rem;
	}
	&.minor {
		a,
		.wp-block-button__link {
			background-color: $white;
			color: $black;
			border: 1px solid $black;
		}
	}
	&.jade {
		a,
		.wp-block-button__link {
			background-color: get-color(jade);
		}
	}
	&.outlined, 
	&.link {
		a,
		.wp-block-button__link {
			background-color: $white;
			color: get-color(grey-darker);
		}
	}
	&.link {
		a,
		.wp-block-button__link {
			text-decoration: underline;
			background-color: transparent;
			&:hover, 
			&:active, 
			&:focus {
				text-decoration: none;
			}
		}
	}
}
.hero__buttons {
	.wp-block-button {
		&__link {
			border-radius: 4px;
			padding: 1.125rem;
			background-color: get-color(emphasis);
		}
	}
}

.yikes-easy-mc-submit-button {
	background-color: get-color(emphasis);
	color: #ffff;
	border-radius: 6px;
	height: 2.5rem;
	align-self: flex-end;
}

