.btn,
.wp-block-button {
	a,
	&__link {
		background-color: get-color(emphasis);
		color: $white;
		font-size: 1rem;
		line-height: 1.2;
		font-weight: 900;
		display: flex;
		align-items: center;
		justify-content: center;
		border: transparent solid 1px;
		border-radius: 8px;
		padding: 0.6rem 1rem;
		&:hover, &:focus {
			background-color: darken(get-color(emphasis), 25%);
			transition: background-color 0.2s ease-in-out;
		}
	}
	&.minor {
		a,
		.wp-block-button__link {
			background-color: $white;
			color: get-color(darkest);
			border: 1px solid get-color(darkest);
			&:hover, &:focus {
				background-color: darken($white, 15%);
			}
		}
	}
	&.jade {
		a,
		.wp-block-button__link {
			background-color: get-color(jade);
			&:hover, &:focus {
				background-color: darken(get-color(jade), 10%);
			}
		}
	}
	&.outlined,
	&.link {
		a,
		.wp-block-button__link {
			background-color: $white;
			color: get-color(grey-darker);
			&:hover, &:focus {
				background-color: darken($white, 15%);
			}
		}
	}
	&.link {
		a,
		.wp-block-button__link {
			text-decoration: underline;
			background-color: transparent;
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}
	}
	&.big {
		a {
			font-size: get-font-size(h3);
		}
	}
}

.hero__buttons {
	.wp-block-button {
		&__link {
			border-radius: 4px;
			padding: 1.125rem;
			background-color: get-color(emphasis);
		}
	}
}

.yikes-easy-mc-submit-button, input[type="submit"] {
	@extend .wp-block-button__link;
	border-radius: 6px;
	height: 3.2rem;
	align-self: flex-end;
	width: 100%;
	@media (min-width: get-breakpoint(sm)) {
		width: auto;
	}
}
