select {
	background-color: get-color(formbg) !important;
	border: 1px solid #219653 !important;
	border-radius: 6px;
	height: 2.5rem;
	padding: 0 1rem;
	&[multiple="multiple"] {
		height: auto;
	}
	.at &:focus { // every action
		outline: 5px auto Highlight !important;
		outline: 5px auto -webkit-focus-ring-color !important;
	}
}
