.fbc-page {

	ol {
		padding-left: 0;
		list-style: none;
		display: flex;
		align-items: center;

		li {
			font-weight: 300;
			line-height: 1.25;
			padding-right: 0.125rem;
			padding-left: 0.125rem;

			&.post-page {
				display: none;
			}

			&:first-child {
				padding-left: 0;
			}
			a {
				text-decoration: none;
				&:hover,
				&:focus {
					text-decoration: underline;
					text-decoration-color: get-color(darkest);
				}
				i {
					color: get-color(darkest);
					margin: 0;
					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
				span {
					color: get-color(darkest)
				}

				.material-icons {
					background-image: url( ../images/icons/home.svg );
					background-repeat: no-repeat;
					display: inline-block;
					height: 19px;
					line-height: inherit;
					width: 24px;
				}

			}

			.fbc-separator {
				color: get-color(darkest)
			}
		}
		li.active span {
			color: get-color(darkest);
		}
	}
}
