.donate-hero {

  position: relative;
	left: -1rem;
	width: 100vw;
	display: flex;
	justify-content: center;
	@media (min-width: get-breakpoint(sm)) {
		display: block;
		left: -3.5rem;
	}
	@media (min-width: get-breakpoint(md)) {
		width: calc(100% + 3.5rem);
	}
	@media (min-width: get-breakpoint(lg)) {
		left: -2.25rem;

	}

  .donation-widget {
		background-color: #F7F7F7;
		border-radius: 1.25rem;
		margin: 1rem;
    @media (min-width: get-breakpoint(xs)) {
      max-width: 80%;
    }
    @media (min-width: get-breakpoint(sm)) {
			max-width: 24rem;
			margin: 3.5rem;
		}
		> div {
			// override default max-width, then reapply at sm breakpoint
			max-width: 100% !important;
			@media (min-width: get-breakpoint(sm)) {
				max-width: 24rem !important;
			}

			> div { // .sc-bdfBwQ {
				// necessary for border-radius to apply to the top corners, using this specificity to avoid altering other child divs
				background: transparent;
				> div {
					background: transparent;
				}
			}
		}
		p {
			padding: 0 1rem 1rem;
		}

  }
	figure {
		position: absolute;
		top: -1rem;
		z-index: -1;
		height: 60%;
		@media (min-width: get-breakpoint(sm)) {
			top: -3rem;
			height: 69%;
		}
		img {
			object-fit: cover;
			height: 100%;
			object-position: 19%;
		}
	}
}
