.events-tout {

	border-radius: 10px;
	padding: 0.5rem 1rem;

	.events-tout__title {
		margin-top: 0;
		margin-bottom: 1.5rem;
		line-height: 1.15;
		color: get-color(jade-darker);
		font-size: get-font-size(h3);
	}

	.events__list {
		grid-template-columns: 1fr;
		column-gap: 1rem;
		row-gap: 1rem;
		margin-bottom: 1.5rem;

		.event {

			max-width: 100%;

			a {
				display: block;
				grid-template-rows: auto;
				height: 100%;
				color: get-color(jade-darker);
				background-color: get-color(lightest) !important;
				box-shadow: 0 0.25rem 1rem rba( get-color(darkest), 0.3 );

				.event__title {
					height: auto;
				}
			}

			&.event_tag-welcome-calls {
				.event__title {
					display: none;
				}
			}
		}
	}

	.events-tout__button {
		a {
			padding: 1rem;
			border-radius: 0.625rem;
		}
	}

	&[data-eq-state$="small"] { // attr set by eq.js
		.events__list {
			br {
				display: none;
			}

			.event__date {
				padding-bottom: 0;
			}

			.event {

				padding-bottom: 1rem;
				
				a {
					padding: 0;
				}
			}
		}
	}

	&[data-eq-state~="medium"] { // attr set by eq.js

		.events__list {
			margin-top: 1.5rem;
			grid-template-columns: 1fr 1fr 1fr;

			.event {
				margin-bottom: 1.5rem;
				box-shadow: 0 0.25rem 0.75rem rgba( 0,0,0, 0.2 );
				padding-bottom: 3rem;
				.event__date {

					time {
						font-size: get-font-size(h3);
					}
				}
			}
		}
	}

	&[data-eq-state$="medium"] { // attr set by eq.js

	}

	&[data-eq-state-="large"] { // attr set by eq.js
		.event {
			background-color: get-color(lightest) !important;
			padding-bottom: 2rem;
			a {
				background-color: get-color(lightest) !important;
			}
		}
	}
	&[data-eq-state$="xl"] { // attr set by eq.js
		.event {
			.event__date {
				time {
					font-size: get-font-size(h2) !important;
				}
			}
		}
	}
}
