.events__list {
	display: grid;
	grid-template-columns: 1fr;
	@media (min-width: get-breakpoint(sm)) {
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
		row-gap: 1rem;
	}
	@media (min-width: get-breakpoint(md)) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media (min-width: get-breakpoint(xl)) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 2rem;
		row-gap: 2rem;
	}
}
