.faq-list{
	max-width: calc(100vw - 2rem);
	&.white-bg {
		.wp-block-site-functionality-faq {
			background-color: $white;
			color: get-color(text);
			.chevron svg path {
				fill: get-color(text);
			}
			.answer a {
				color: $black;
			}
		}
	}
}
