.faq-list{
	&.white-bg {
		.wp-block-site-functionality-faq {
			box-shadow: 0.125rem 0.125rem 0.5rem rgb(0 0 0 / 30%);
			background-color: $white;
			color: get-color(text);
			.chevron svg path {
				fill: get-color(text);
			}
			.answer a {
				color: $black;
			}
		}
	}
}
