.site-footer {
	background-color: $c__gray--dark;
	color: $white;
	position: absolute;
	width: 100vw;
	margin-top: 3rem;
	padding-top: 3rem;

	.container {
		max-width: get-breakpoint(lg);
	  margin: 0 auto;
	}

	@media (min-width: get-breakpoint(sm)) {
		margin-top: 3rem;
		padding-top: 1.5rem;
	}

	.widget {
		padding: 0 1rem;
		@media (min-width: get-breakpoint(sm)) {
			padding: 0 2.875rem;
		}
		h3 {
			margin: 0;
			padding-bottom: 1rem;
			font-size: get-font-size(h4);
			line-height: 1.15;
		}
		p {
			margin: 0;
			font-weight: 200;
		}
		@media (min-width: get-breakpoint(sm)) {
			h3 {
				width: auto;
				font-size: get-font-size(h3);
			}
			p {
				font-size: get-font-size(h4);
			}
		}

		&:nth-child(1) {
			display: flex;
			justify-content: flex-end;
			position: absolute;
			width: 97%;
			padding: 0;
			right: 0.75rem;
			@media (min-width: get-breakpoint(sm)) {
				top: 3rem;
				right: 2.35rem;
			}
			.wp-block-social-links {
				margin: 0;
				.wp-social-link {
					color: $white !important;
					margin: 0;
					a {
						padding: 0;
						@media (min-width: get-breakpoint(sm)){
							svg {
								width: 2.25rem;
								height: 2.25rem;
							}
						}
					}
				}
			}
		}
	}
	.widget_yikes_easy_mc_widget {
		.yikes-easy-mc-form {
			margin: 1rem 0;
			label {
				line-height: 1.2;
				span {
					font-weight: 500;
					display: inline-block;
					margin-bottom: 0.5rem;
				}
				input {
					height: 2.5rem;
				}
				&:nth-child(5) {
					width: 1px;
					height: 1px;
					margin: -1px;
				}
			}
			.btn {
				@extend .wp-block-button;
				margin: 0;
				border: 0;
				outline: 0;
				height:	2.5rem;
			}
			@media (min-width: get-breakpoint(sm)) {
				display: flex;
				justify-content: space-between;
				label {
					margin: 0 0.5rem;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					&:nth-child(1) {
						margin-left: 0;
					}
				}
				.btn {
					margin: 0.5rem;
					margin-right: 0;
				}
			}
		}
	}
	#footer-menu {
		display: grid;
		// flex-direction: column;
		// justify-content: space-between;
    grid-template-columns: 1fr;
		margin: 0 1rem 5rem;
		padding: 1rem 0;
		border-top: solid $white 1px;
		@media (min-width: get-breakpoint(xs)) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: get-breakpoint(sm)) {
			margin: 0 2.875rem 5rem;
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (min-width: get-breakpoint(md)) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}
		> li {
			list-style: none;
			margin-right: 0.5rem;
			margin-bottom: 2rem;
			> a {
				font-size: 1.25rem;
				line-height: 2.67;
				font-weight: 900;
				color: $white;
				text-decoration: none;
			}
			.sub-menu {
				list-style: none;
				padding-left: 0;
				a {
					color: $white;
					text-decoration: none;
					line-height: 2.5;
				}
			}
		}
	}
	.site-info {
		ul {
			list-style: none;
			display: inline-block;
			li {
				display: inline-block;
				margin-right: 1rem;
			}
		}
	}
}
