.field-section { // contact form 7
	border: none;
	padding: 0;
	margin: 1rem 0;
}
.field-group {
	display: grid;
	margin-bottom: 1rem;
	label {
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 0.5rem;
	}
	&.social {
		@media (min-width: get-breakpoint(xs)) {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.ngp-form { // every action
	.EventRolesParent {
		// hide Roles on Event Signup forms (default Role will be selected), remove this if we use Event Roles in the future
		display: none !important
	}

	background-color: #F7F7F7;
	border-radius: 1.25rem;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	.at-form {
		.at-inner {
			background-color: transparent;
			.at-title {
				font-size: get-font-size(h4);
				font-weight: 900;
				padding: 1rem 0;
			}
			.at-fields {
				background-color: transparent;
			}
			label, span, small {
				color: get-color(grey-darker);
			}
			.at-select .select2-selection--multiple {
				background-color: get-color(green-1);
				border: 1px solid #219653;
			}
			.btn-at-primary {
				@extend %btn;
			}
		}
	}

	&.rent-debt-2023 {
		.AdditionalInformation {
			.at-row {
				label:not(
					.at-check, [class^='at-radio-label-']
				) {
					font-weight: 900;
					color: $black;
				}
			}
		}
	}
}

.oa-self-service-login-container {
	font-family: get-font('base'), sans-serif;
	h2 {
		font-size: get-font-size('h4');
		margin-top: 0;
	}
	.oa-input-container {
		.oa-input-unit {
			color: get-color('text');
			+ .row {
				padding-bottom: 0;
				margin: 0;
				.btn-at.btn-at-primary {
					@extend %btn;
					height: auto;
					margin: 1rem auto !important;
				}
			}
		}
	}
}
