//--------------------------------------------------------------
// Menus and Sub-Menus
//--------------------------------------------------------------
.navigation-menu {
	.menu {

		> li {
			&:not( :last-child ) {
			}
		}
	}

	.sub-menu {
		left: -999em;
		top: theme( 'spacing.24' );
		z-index: 99999;

		li {}

		.menu-item-has-children {
			&:hover,
			&.focus {
				> .sub-menu {
					left: 100%;
				}
			}
		}
	}
}

//-----------------------------------------
// Menu Items With Children
//-----------------------------------------
.menu-item-has-children {

	&:hover,
	&.focus {
		> .sub-menu {}
	}
}

//-----------------------------------------
// Dropdown Styles
//-----------------------------------------
.dropdown {
	ul {
		li {}

		a {}
	}
}

//-----------------------------------------
// Footer
//-----------------------------------------
.footer-navigation {
	.menu {}
}
