.wpcf7-checkbox {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	@media (min-width: get-breakpoint(md)) {
		grid-template-columns: 1fr 1fr;
	}
	.wpcf7-list-item {
		position: relative;
		border-radius: 6px;
		padding: 1rem 1.25rem;
		margin: 0;
		&.checked {
			background-color: get-color(green-1);
		}
		input[type="checkbox"] {
			position: absolute;
			left: 2.5%;
			width: 95%;
			bottom: 7.5%;
			height: 85%;
			opacity: 0;
			z-index: 1;
			cursor: pointer;
			&:checked {
				+ span {
					&::after {
						position: absolute;
						display: block;
						top: 0.5em;
						left: 1.6em;
						width: 0.5em;
						height: 1.33em;
						border-right: 0.33em solid get-color(jade-light);
						border-bottom: 0.33em solid get-color(jade-light);
						transform: rotate(45deg);
					}
				}
			}
			+ span {
				font-size: 1rem;
				line-height: 1.2;
				margin-left: 1.5rem;
				&::before {
					content: "";
					border: 3px solid get-color("text");
					border-radius: 0.25em;
					background-color: transparent;
					display: block;
					box-sizing: border-box;
					float: left;
					width: 1.125em;
					height: 1.125em;
					position: relative;
					top: .2em;
				}
			}
		}
	}
}
