.checkboxes {
	.wpcf7-checkbox {
		display: flex;
		flex-direction: column;
		@media (min-width: get-breakpoint(sm)) {
			flex-direction: row;
			flex-wrap: wrap;
		}
		.wpcf7-list-item {
			position: relative;
			border-radius: 6px;
			padding: 1rem;
			margin: 0;
			&.checked {
				background-color: get-color(green-1);
			}
			input[type="checkbox"] {
				position: absolute;
				left: 1rem;
				width: 95%;
				height: 1.75rem;
				opacity: 0;
				z-index: 1;
				@media (min-width: get-breakpoint(sm)) {
					width: 85%;
				}
				&:checked {
					+ span {
						font-weight: 900;
						&::after {
							position: absolute;
							display: block;
							top: 0.25em;
							left: 1.125em;
							width: 0.5em;
							height: 1.33em;
							border-right: 0.33em solid get-color(jade);//#24BA9D;
							border-bottom: 0.33em solid get-color(jade);
							transform: rotate(45deg);
						}
					}
				}
				+ span {
					font-size: 1.3rem;
					line-height: 1.35;
					font-weight: 400;
					margin-left: 1rem;
					&::before {
						content: "";
						background: transparent;
						border: 0.1em solid get-color("grey");
						border-radius: 0.25em;
						background-color: transparent;
						display: block;
						box-sizing: border-box;
						float: left;
						width: 1.125em;
						height: 1.125em;
						margin-top: .125em;
						vertical-align: top;
						cursor: pointer;
						text-align: center;
					}
				}
			}
		}

	}
}
