.events__list .event {
	position: relative;
	overflow: hidden;

	&:hover,
	&:focus-within {
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
		a {
			color: currentColor;
			.event__title {
				text-decoration: underline;
			}
		}
	}

	a {
		box-sizing: border-box;
		display: block;
		height: 100%;
		font-weight: 900;
		color: get-color(grey-dark);
		text-decoration: none;
		padding: 2.3rem 1.2rem;
		border: solid 1px transparent;

		background-color: get-color('grey-light');
		.past > & {
			background-color: get-color('salmon');
		}
		.upcoming > &,
		.future > & {
			background-color: rgba( get-color('jade'), 0.65);
		}

		&::after {
			display: block;
			content: " ";
			position: absolute;
			width: calc(100% - 2.4rem);
			left: 1.2rem;
			bottom: -1.5rem;
			top: auto;
			border-bottom: 1.5rem solid transparent;
			background-color: transparent;
			transition: bottom 0.2s ease-out;
			border-color: currentColor;
		}

		&:focus::after,
		&:hover::after {
			bottom: 0;
			transition: bottom 0.2s ease-out;
		}

		.event__title {
			font-size: get-font-size(h4);
			line-height: 1.2;
			margin-top: 0;
		}
		.event__date time {
			font-size: get-font-size(h4);
			line-height: 1;
			font-weight: 300;
		}
		.event__location {
			font-weight: 400;
		}
		.event__image, .event__content {
			display: none;
		}
	}

	&__address {
		display: flex;
		flex-wrap: wrap;
	}

	&__location {
		&-address {}

		&-name {
			font-weight: bold;
		}

		&-street {
			width: 100%;
		}

		&-city,
		&-state,
		&-zip {
			&:not(:empty) {
				margin-right: .25rem;
			}
		}

		&-city {
			&:not(:empty)::after {
				content: ',';
			}
		}

		&-state {}

		&-zip {}
	}

	&__location-map {
		margin-top: 1rem;
	}


	&.upcoming > a,
	&.future > a {
		background-color: rgba( get-color('jade'), 0.65);
	}

	&.past > a {
		background-color: get-color('salmon');
	}

	.event__time {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	&.event_tag-campaigns-and-trainings {
		a {
			background-color: get-color('salmon');
		}
	}

	&.event_tag-learn-about-debt {

		a {
			background-color: get-color(jade-dark);
			color: $white;

			&:hover,
			&:focus {
				color: $white;
			}
		}
	}

	&.event_tag-welcome-calls {
		&:nth-child(2) {
			a {
				background-color: get-color(lilac);
			}
		}
		a {
			grid-template-rows: auto;
			background-color: get-color(grey-light);
			&:hover, &:focus {
				.event__date time {
					text-decoration: underline;
				}
			}
			.event__date {
				padding-bottom: 1rem;
				time {
					padding: 0;
					font-size: get-font-size(lede);
					line-height: 0.86;
					font-weight: 900;
				}
			}
			.event__time {
				font-size: 1.125rem;
			}
			.event__location {
				font-weight: 700;
			}
		}
	}

	&.status-cancelled::after {
		position: absolute;
		top: 45%;
		left: 50%;
		opacity: 0.75;
		display: block;
		padding: 0.5rem 1rem 0.5rem 3rem;
		transform: translate(-50%, -50%) rotate(-12deg);
		background-color: get-color(emphasis);
		content: "Cancelled";
		font-weight: 900;
		width: 100%;
		color: get-color(lightest);
		font-size: get-font-size(h4);
		@media (min-width: get-breakpoint(sm)) {
			font-size: get-font-size(h3);
			padding: 0.5rem 1rem 0.5rem 2rem;
		}
		@media (min-width: get-breakpoint(lg)) {
			top: 35%;
		}
	}


}

.single-event,
.single-location {
	.event {
		&__title {
			font-size: get-font-size(h3);
			@media (min-width: get-breakpoint(sm)) {
				font-size: get-font-size(h2);
			}
			line-height: 1.15;
		}
		&__content,
		&__time,
		&__meta {
			font-size: get-font-size('large');
		}
		&__meta {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 1rem;
			.event {
				&__date {
					font-size: 2rem;
					font-weight: 900;
					font-style: italic;
				}
				@media (min-width: get-breakpoint(sm)) {
					&__date {
						font-size: get-font-size('h3');
					}
					&__time {
						font-size: get-font-size('h4');
					}
				}
			}
			.em-event-add-to-calendar {
				margin: 0.25rem auto 0;
				@media (min-width: get-breakpoint(sm)) {
					margin-top: 0.75rem;
					font-size: get-font-size('large');
					padding: 0.5rem 1.25rem;
				}
			}
		}

		&__image {
			max-height: 500px;
			min-height: initial;
		}

		&__thumbnail {
			width: 100%;
			height: auto;
			max-height: 500px;
			object-fit: cover;
		}

		&__address {
			display: flex;
			flex-wrap: wrap;
		}

		&__location {
			&-address {}

			&-name {
				font-weight: bold;
			}

			&-street {
				width: 100%;
			}

			&-city,
			&-state,
			&-zip {
				&:not(:empty) {
					margin-right: .5rem;
				}
			}

			&-city {
				&:not(:empty)::after {
					content: ',';
				}
			}

			&-state {}

			&-zip {}
		}

		&__location-map {
			margin-top: 1rem;
		}

		.wp-block-buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: .25rem;
			.wp-block-button a {
				background-color: get-color('red');
				font-size: 1.5rem;
				padding: 0.75rem 0.75em;
				@media (min-width: get-breakpoint(sm)) {
					font-size: 2rem;
				}
			}
		}

		form {
			input[type="submit"] {
				width: min-content;
			}
		}
	}
}

.recurrences {
	ul {
		list-style: none;
		padding-left: 0;
	}
	li + li {
		margin-top: 1rem;
	}

	&__event-title {
		margin-top: 0;
		margin-bottom: 0;
		font-family: get-font('base');
		font-weight: normal;
		font-size: get-font-size('large');

		a {
			font-weight: normal;
		}

		.is-current & {
			font-weight: bold;
		}
	}
	.event {
		&__date, &__time {
			font-size: get-font-size('large');
		}
	}
}

.em-event-add-to-calendar-content {
	visibility: hidden;
	height: 0;
}

[data-state="visible"] {
	.em-event-add-to-calendar-content {
		height: auto;
		visibility: visible;
		display: flex;
		flex-direction: column;

		a {
			text-decoration: none;
			color: get-color('grey-dark');
			padding: .25rem;

			&:hover,
			&:focus {
				color: get-color('grey');
			}
		}

		[class$="download"] {}

		[class$="google"] {}

		[class$="apple"] {}

		[class$="office"] {}

		[class$="outlook"] {}
	}
}

