.event {
	position: relative;
	overflow: hidden;

	&:hover,
	&:focus-within {
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
		a {
			color: currentColor;
			.event__title {
				text-decoration: underline;
			}
		}
	}

	&:not([class*="event_tag"]) a {
		height: 100%;
		margin-top: 1.5rem;
	}

	a {
		box-sizing: border-box;
		display: grid;
		grid-template-rows: 6.5rem 5.5rem 2.5rem 2.5rem;
		grid-template-columns: 100%;
		font-weight: 900;
		color: get-color(grey-dark);
		text-decoration: none;
		padding: 2.3rem 1.2rem;
		background-color: get-color('salmon');
		border: solid 1px transparent;

		&::after {
			display: block;
			content: " ";
			position: absolute;
			width: calc(100% - 2.4rem);
			left: 1.2rem;
			bottom: -1.5rem;
			top: auto;
			border-bottom: 1.5rem solid transparent;
			background-color: transparent;
			transition: bottom 0.2s ease-out;
			border-color: currentColor;
		}

		&:focus::after,
		&:hover::after {
			bottom: 0;
			transition: bottom 0.2s ease-out;
		}

		.event__title {
			font-size: get-font-size(h4);
			line-height: 1.2;
			margin-top: 0;
		}
		.event__date time {
			font-size: get-font-size(h4);
			line-height: 1;
			font-weight: 300;
		}
		.event__location {
			font-weight: 400;
		}
	}

	.event__time {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	&.event_tag-campaigns-and-trainings {
		a {
			background-color: get-color('salmon');
		}
	}

	&.event_tag-learn-about-debt {

		a {
			background-color: get-color(jade-dark);
			color: $white;

			&:hover,
			&:focus {
				color: $white;
			}
		}
	}

	&.event_tag-welcome-calls {
		&:nth-child(2) {
			a {
				background-color: get-color(lilac);
			}
		}
		a {
			grid-template-rows: auto;
			background-color: get-color(grey-light);
			&:hover, &:focus {
				.event__date time {
					text-decoration: underline;
				}
			}
			.event__date {
				padding-bottom: 1rem;
				time {
					padding: 0;
					font-size: get-font-size(lede);
					line-height: 0.86;
					font-weight: 900;
				}
			}
			.event__time {
				font-size: 1.125rem;
			}
			.event__location {
				font-weight: 700;
			}
		}
	}

	&.status-cancelled::after {
		position: absolute;
		top: 45%;
		left: 50%;
		opacity: 0.75;
		@media (min-width: get-breakpoint(md)) {
			top: 25%;
		}
		display: block;
		padding: 0.5rem 1rem 0.5rem 2rem;
		transform: translate(-50%, -50%) rotate(-12deg);
		background-color: get-color(emphasis);
		content: "Cancelled";
		font-weight: 900;
		width: 100%;
		font-size: get-font-size(h3);
		color: get-color(lightest);
	}
}
