%dc-ic-default {
	background-color: get-color(emphasis);
	color: get-color(lightest);
	strong {
		color: get-color(canary);
	}
	.impactful-callout__content {
		color: get-color(lightest);
		a {
			color: get-color(lightest);
		}
	}
}

.impactful-callout,
.impactful-callout.has-emphasis-background-color {
	@extend %dc-ic-default;
	&:not(.block-editor-block-list__block) {
		left: -2.25rem;
	}
	padding: 0.5rem 0.5rem 1rem;
	position: relative;
	margin-bottom: 2rem;
	@media (min-width: get-breakpoint(xs)) and (max-width: get-breakpoint(sm)) {
		padding: 0.75rem 1.25rem;
	}
	@media (min-width: get-breakpoint(sm)) {
		padding: 1.25rem 2.25rem;
	}
	.impactful-callout__content {
		font-style: italic;
		font-weight: 300;
		line-height: 1.15;
		margin: 0;
		strong {
			font-weight: 900;
		}
	}
	&.has-jade-background-color {
		background-color: get-color(jade);
		color: get-color(lightest);
		.impactful-callout__content {
			color: get-color(lightest);
			a {
				color: get-color(canary);
			}
		}
	}
	&.has-canary-background-color {
		background-color: get-color(canary);
		.impactful-callout__content {
			color: get-color(text);
			strong {
				color: get-color(text);
			}
			a {
				color: get-color(jade-dark);
			}
		}
	}
	&.has-salmon-background-color {
		background-color: get-color('salmon') !important;
		color: get-color(text);
		strong {
			color: get-color(jade-darker)
		}
		.impactful-callout__content {
			color: get-color(text);
			a {
				color: get-color(jade-darker);
			}
		}
	}
}
