.impactful-callout {

	position: relative;
	margin-bottom: 2rem;
	padding: 0.5rem 0.5rem 1rem;

	@media (min-width: get-breakpoint(sm)) {
		padding: 1.25rem 2.25rem;
	}

	@media (min-width: get-breakpoint(md)) {
		// a little overhang (interferes with block editor though since the contextual menu gets similarly shifted)
		&:not(.block-editor-block-list__block) {
			left: -2.25rem;
		}
	}

	.callout__content,
	h1,
	h2,
	h3 {

		font-style: italic;
		font-size: get-font-size(h4);
		font-weight: 300 !important;
		line-height: 1.15;
		margin: 0;

		@media (min-width: get-greak-point(sm)) {
			font-size: get-font-size(h3);
		}

		strong {
			font-weight: 900;
		}
	}
	&.emphasis {
		background-color: get-color(emphasis);
		.callout__content {
			color: get-color(lightest);
			a {
				color: get-color(lightest);
			}
			strong {
				color: get-color(canary)
			}
		}
	}
	&.jade {
		background-color: get-color(jade);
		.callout__content {
			color: get-color(lightest);
			strong {
				color: get-color(canary);
			}
			a {
				color: get-color(canary);
			}
		}
	}
	&.canary {
		background-color: get-color(canary) !important;
		.callout__content {
			color: get-color(text);
			strong {
				color: get-color(text);
			}
			a {
				color: get-color(jade-dark);
			}
		}
	}
	&.salmon {
		background-color: get-color('salmon') !important;
		.callout__content {
			color: get-color(text);
			strong {
				color: get-color(jade-darker);
			}
			a {
				color: get-color(jade-darker);
			}
		}
	}

	&.two-col {
		background-color: get-color(emphasis);
		left: 0;
		&:not(.block-editor-block-list__block) {
			display: grid;
			@media (min-width: get-breakpoint(md)) {
				grid-template-columns: repeat(6, 1fr);
				> *:nth-child(1) {
					grid-column: span 4;
				}
				> *:nth-child(2) {
					grid-column: span 2;
				}
			}
		}
	}
}
