.inline-bullet-list,
.is-style-inline-bullet-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	@media (min-width: get-breakpoint(md)) {
		flex-direction: row;
	}
	li {
		@media (min-width: get-breakpoint(md)) {
			width: 33.33%;
			margin-right: 1.75rem;
		}
		margin-bottom: 1.5rem;
		display: flex;
		column-gap: 0.5rem;
		&::before {
			content: "";
			background: center/contain no-repeat url(../images/icons/rectangle-jade.svg);
			width: 2.4rem;
			height: 1.65rem;
		}
	}
}
