.inline-bullet-list {
	margin: 0 0 2rem 0;
	padding: 0;
	list-style: none;
	display: grid;
	column-gap: 2rem;
	grid-template-columns: 1fr;
	@media (min-width: get-breakpoint(md)) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	li {
		position: relative;
		display: inline-block;
		margin-bottom: 1.5rem;
		column-gap: 0.5rem;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 0.25rem;
			left: -0.825rem;
			width: 0.5rem;
			height: 1rem;
			background-color: get-color(jade);
		}
	}
}
