.wp-block-zwt-beautiful-link-preview {
	border-bottom: #1e9981 solid 0.25rem;
	margin-bottom: 2rem;
	.zwt-wp-link-prev-texts {
		> div > a {
			font-size: 0.875rem;
		}
	}
	.zwt-wp-link-prev-title {
		margin-top: 1rem;
	}
}

.grid-three.media-page {
	.zwt-wp-link-prev-img {
		max-height: 300px;
	}
	@media (min-width: get-breakpoint(md)) {
		grid-template-columns: 1fr 1fr;
		.zwt-wp-link-prev-img {
			min-width: 100%;
			object-position: top center;
			object-fit: contain;
		}
	}
	@media (min-width: get-breakpoint(lg)) {
		grid-template-columns: 1fr 1fr 1fr;
		.zwt-wp-link-prev-img {
			max-height: 156px;
		}
	}
}

.media-link-custom-title {
	border-bottom: 0.25rem solid #1e9981;
	margin-bottom: 2rem;
	.wp-block-zwt-beautiful-link-preview {
		border: none;
		margin-bottom: 0;
		&:first-of-type {
			.zwt-wp-link-prev-texts {
				display: none;
			}
		}
	}
	.custom-title {
		margin: 1rem 0 0.5em;
	}
}
