.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		border-radius: 50%;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
		background: #FCFCF8;
		&:hover, &:active, &:focus {
			background: get-color(canary);
		}
		width: 8rem;
		height: 8rem;
		padding: 0.5rem;
		@media (min-width: get-breakpoint(sm)) {
			width: 16rem;
			height: 16rem;
			padding: 1rem;
		}
	}
	.person__name, .person__title {
		text-align: center;
		font-size: get-font-size(h5);
		font-weight: 900;
		@media (min-width: get-breakpoint(sm)) {
			font-size: 1.25rem;
		}
	}
}
