.radio-buttons {
	.wpcf7-radio {
		display: flex;
		flex-direction: column;
		@media (min-width: get-breakpoint(sm)) {
			flex-direction: row;
			flex-wrap: wrap;
		}
		.wpcf7-list-item {
			position: relative;
			border-radius: 6px;
			padding: 1rem;
			margin: 0;
			&.checked-radio {
				background-color: get-color(green-1);
			}
			input[type="radio"] {
				position: absolute;
				bottom: 6px;
				width: 95%;
				height: 3rem;
				opacity: 0;
				&:checked {
					+ span::before {
						background: url(../images/icons/checked-jade.svg) 0 center no-repeat;
					}
				}
				+ span {
					font-size: 1.3rem;
					line-height: 1.2;
					font-weight: 800;
					&::before {
						content: "";
						background: url(../images/icons/unchecked-radio.svg) 0 center no-repeat;;
						padding: 1rem;
						padding-right: 2rem;
					}
				}
			}
		}
	}
}
