.sidebar {

	nav {

		.page_item {
			font-size: get-font-size(h4);
			line-height: 1;
			font-weight: 900;
		}

		ul {
			padding: 0 0;
			margin: 0;

			.page_item {
				list-style: none;
				padding-bottom: 1.75rem;

				a {
					color: get-color(grey-dark);
					text-decoration: none;

					&:hover, &:focus {
						text-decoration: underline;
					}

					span {
						display: inline-block;
						padding-left: 0.25rem;
						padding-right: 0.25rem;
						text-decoration: inherit;
					}
				}

				&.current_page_item {

					a {
						position: relative;
						left: -0.325rem;
						text-decoration: line-through;
						text-decoration-color: get-color(emphasis);
						text-decoration-thickness: 0.25rem;

						span {
							text-decoration-color: get-color(emphasis) !important;
						}
						
						.hangover::before,
						.hangover::after {
							content: "\00a0";
							display: inline;
						}
					}
				}
			}
		}
	}
}
