.sidebar-links {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 0;
    margin-bottom: 2px;

    h4 {
      margin-top: 0;
    }
  }

  a {
    text-decoration: none;
    display: block;
    padding: 2rem 1.5rem 1rem 1.5rem;
    color: get-color(lightest);
    border-bottom: 0.5rem transparent solid;
    background-color: get-color(jade);

    &:focus,
    &:hover {
      color: get-color(lightest);
      text-decoration: underline;
      border-bottom: 0.5rem get-color(lightest) solid;
    }
  }

  &.emphasis {
    a {
      color: get-color(lightest);
      background-color: get-color(emphasis);
    }
  }

  &.canary {
    a {
      color: get-color(text);
      background-color: get-color(canary);
      &:focus,
      &:hover {
        text-decoration: underline;
        border-bottom: 0.5rem get-color(text) solid;
      }
    }
  }

  &.salmon {
    a {
      color: get-color(text);
      background-color: get-color('salmon');
      &:focus,
      &:hover {
        text-decoration: underline;
        border-bottom: 0.5rem get-color(text) solid;
      }
    }
  }

  @media (max-width: get-breakpoint(md)) {

    li {
      display: inline-block;
      margin-right: 0.125rem;
      padding-bottom: 0;
      vertical-align: middle;
      height: 3.5rem;

      a {
        box-sizing: border-box;
        height: 100%;
        padding: 0.5rem;
        padding-bottom: 0.125rem;
        border-bottom: none;
        color: get-color(jade-dark);
        background-color: rgba( get-color(jade), 0.15);
        &:hover,
        &:focus,
        &:active {
          color: get-color(jade-dark);
          border-bottom: none;
        }
      }

      .sidebar-link__title {
        font-size: get-font-size(h5);
        font-weight: normal;
      }

      .sidebar-link__content {
        display: none;
      }
    }
  }
}
