.sidebar {
	.sidebar-social {
		ul {
			margin-left: 1rem;
			list-style: none;
			display: flex;
			padding-left: 0;

			li {
				margin: 0;
				margin-right: 0.5rem;
				a {
					text-decoration: none;
					span {
						color: get-color(grey-dark);
						height: get-font-size(h3);
						width: get-font-size(h3);
						&::before {
							color: get-color(grey-dark);
							font-size: get-font-size(h3);
						}
					}
					&:hover, &:focus, &:active {
						span::before {
							color: get-color(emphasis);
						}
					}
				}
			}
		}
	}
}
