.tout {
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	background-color: get-color(jade-lightened);

	.content__wrapper {
		box-sizing: border-box;
	}

	@media (min-width: get-breakpoint(xs)) {
		.tout__link {
			display: grid;
			box-sizing: border-box;
			grid-template-columns: repeat(12, 1fr);

			.content__wrapper {
				grid-column: 1 / span 8;
				box-sizing: border-box;
			}

			figure {
				padding-top: 2rem;
				grid-column: 9 / span 4;
				position: relative;
				img {
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}
		}
	}

	@media (min-width: get-breakpoint(sm)) {
		.tout__link {
			figure {
				padding-top: 1rem;
				padding-bottom: 2rem;
			}
		}
	}

	@media (min-width: get-breakpoint(md)) {
		.tout__link {
			figure {
				padding-top: 2rem;
				padding-bottom: 0;
				img {
					position: relative;
				}
			}
		}
	}

	@media (min-width: get-breakpoint(xs)) and (max-width: get-breakpoint(md)) {
		.content__wrapper {
			height: auto !important;
		}

		figure {
			padding-bottom: 3rem;

			img {
				right: 0;
			}
			&.non-flush img {
				bottom: auto;
				top: 1rem;
				right: 1rem;

			}
		}
	}

	@media (min-width: get-breakpoint(sm)) {
		min-height: 12rem;
	}

	@media (min-width: get-breakpoint(md)) {
		min-height: 16rem;
		.tout__link {
			display: block;
		}
	}

	&:hover, &:focus-within {
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		.tout__title {
			text-decoration: underline;
		}
	}

	&::after {
		display: block;
		content: " ";
		position: absolute;
		width: calc(100% - 4rem);
		left: 2rem;
		bottom: -2rem;
		top: auto;
		border-bottom: 1.5rem solid transparent;
		background-color: transparent;
		transition: bottom 0.2s ease-out;
		border-color: get-color(text);
	}

	&:focus-within::after,
	&:hover::after {
		bottom: 0;
		transition: bottom 0.2s ease-out;
	}

	.tout__title {
		margin: 0;
		font-size: get-font-size(h3);
		line-height: 1.15;
		padding-top: 2rem;
	}

	.tout__title,
	.tout__content {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.tout__content {
		box-sizing: border-box;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	.tout__image {
		display: block;
		width: 100%;
		mix-blend-mode: multiply;
		svg,
		img {
			display: block;
			width: 100%;
			height: auto;
			mix-blend-mode: multiply;
		}
	}

	> a {
		height: 100%;
		display: grid;
		color: get-color(text);
		text-decoration: none;

		&:hover, &:focus {
			color: get-color(text);
		}
	}

	.btn {
		 margin-left: 2rem;
		 margin-right: 2rem;
	}

	&.salmon {
		background-color: get-color('salmon');
	}

	&.canary {
		background-color: get-color(canary);
	}

	&.jade {
		background-color: get-color(jade);

		.tout__title,
		.tout__content {
			color: $white;
		}

		&::after,
		&:hover::after,
		&:focus-within::after {
			border-color: $white;
		}
	}

	.wp-block-image {
		margin-bottom: 0 !important;
	}

	&.minor {
		min-height: auto;
		.tout__title {
			font-size: get-font-size(h4);
		}
	}


}
