.video-banner {
	background: url(../images/video-banner-bg-img.svg) 0 center no-repeat;
	padding: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	@media (min-width: get-breakpoint(sm)) {
		padding: 3rem;
	}
	@media (min-width: get-breakpoint(md)) {
		flex-direction: row;
	}
	.video-banner__left,
	.video-banner__right {
		&.wp-block-column {
			align-self: center;
			@media (min-width: get-breakpoint(md)) {
				align-self: flex-start;
			}
		}
	}
	.video-banner__right {
		&.wp-block-column {
			margin: 0;
			@media (min-width: get-breakpoint(md)) {
				margin-left: 3rem;
			}
		}
		.video-banner__heading {
			font-style: italic;
			line-height: 1;
			margin: 0;
			@media (max-width: get-breakpoint(sm)) {
				font-size: get-font-size(h3);
			}
			strong {
				color: get-color(emphasis);
			}
		}
		.video-banner__content {
			line-height: 1.25;
			font-weight: 300;
			margin: 0;
			@media (min-width: get-breakpoint(sm)) {
				font-size: get-font-size(h4);
			}
		}
	}
}
