.video-banner {
	background-image: url(../images/videobanner-bg-img.svg);
	background-size: cover;
	padding: 1.5rem;
	margin-bottom: 2rem;

	@media (min-width: get-breakpoint(sm)) {
		padding: 3rem;
	}

	.banner__heading {
		font-style: italic;
		line-height: 1;
		margin: 0 0 1.5rem 0;
		font-size: get-font-size(h4);
		@media (min-width: get-breakpoint(sm)) {
			font-size: get-font-size(h3);
		}
		strong {
			color: get-color(emphasis);
		}
	}

	.video-banner__content {
		line-height: 1.25;
		font-weight: 300;
		margin: 0 0 2rem 0;
		font-size: get-font-size(body);
	}

	.banner__media {
		position: relative;
	}

	@media (min-width: get-breakpoint(md)) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;

		figure {
			grid-column: 1;
			grid-row: 1 / span 3;
		}
		.banner__content {
			grid-column: 2;
		}
	}

	@media (min-width: get-breakpoint(xxl)) {
		grid-template-columns: 1fr 1fr 1fr;
		figure {
			grid-column: 1 / span 2;
		}
		.banner__content {
			grid-column: 3;
		}
	}
}
