//----------------------------------------
// Editor Styles.
//----------------------------------------

@import 'blocks/index.scss';
@import 'components/index.scss';

.editor-styles-wrapper h1,
.wp-block-post-title {
  font-size: get-font-size(h2);
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: underline;
}

.block-editor-rich-text__editable:not(.wp-block-button__link)  {
  .is-selected &,
  &.is-selected, {
    background-color: rgba(#fec, 0.8);
  }
}

.wp-block-cover:not(.has-canary-background-color) {
  .block-editor-rich-text__editable  {
    .is-selected &:not(.wp-block-button__link),
    &:not(.wp-block-button__link).is-selected {
      background-color: rgba(get-color(darkest), 0.6) !important;
    }
  }
}
.wp-block-cover.has-canary-background-color {
  .is-selected &:not(.wp-block-button__link),
  &:not(.wp-block-button__link).is-selected {
    background-color: rgba(get-color(lightest), 0.8) !important;
  }
}

.impactful-callout {
  &.is-selected .block-editor-rich-text__editable {
    background-color: rgba(#000, 0.125) !important;
  }
  .block-editor-rich-text__editable.is-selected {
    background-color: rgba(#000, 0.125) !important;
  }
}

.wp-block-buttons,
.wp-block-button,
.button {
  .is-selected &.wp-block-button__link,
  &.is-selected .wp-block-button__link {
    border: 2px saturate(get-color(darkest), 30);
  }
}

.button-tout,
.tout {
  &.is-selected .block-editor-rich-text__editable:not(.wp-block-button__link),
  .block-editor-rich-text__editable.is-selected:not(.wp-block-button__link) {
    background-color: rgba(get-color(darkest), 0.15) !important;
  }
  &.canary.is-selected .block-editor-rich-text__editable:not(.wp-block-button__link),
  &.canary .block-editor-rich-text__editable.is-selected:not(.wp-block-button__link) {
    background-color: rgba(get-color(lightest), 0.35) !important;
  }
}

.block-editor-block-list__layout.is-root-container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  @media (min-width: get-breakpoint(1200px)) {
    padding-left: 0;
    padding-right: 0;
  }
}


.wp-block-site-functionality-impactful-callout.two-col {
  .block-editor-block-list__layout {
    @media (min-width: get-breakpoint(md)) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      > .wp-block:nth-child(1) {
        grid-column: span 4;
      }
      > .wp-block:nth-child(2) {
        grid-column: span 2;
      }
    }
  }
}


.events-by-tag .wp-block-heading.is-selected {
  color: #000 !important;
}
// hide h1 from editor
.components-toolbar-group {
  .components-toolbar-button[aria-label="Heading 1"] {
    display: none !important;
    position: fixed;
    left: -100vw;
    top: -100vh;
  }
}
