p.taxonomy-description {
	margin: 1.5rem 1rem;
	font-size: get-font-size(h4);
	font-weight: 300;
	line-height: 1.25;
	@media (min-width: get-breakpoint(sm)) {
		margin-left: 4.5rem;
		max-width: 58rem;
	}
}
